/*Main CSS for Marika Helttula Tmi kotisivulle*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*More CSS reset*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    width: 100%;
    margin: auto;
}

/*Responsiveness: small screens*/
[class*="col-"] {
    float: left;
    padding: 3%;
    width: 100%;
}
.header h1.line {display: none;}
.header a.icon {
  float: right;
  display: block;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
  text-decoration: none;
  color: #414850
}
.navbar li a {display: none;}
.navbar li span {
  float: none;
  text-align: center;
}
.navbar.responsive {
  position: relative;
}
.navbar.responsive li {
  float: none;
}
.navbar.responsive li a {
  float: none;
  display: block;
  text-align: center;
}
.navbar.responsive li span {
  display: none;
}

/*Responsiveness: medium screens*/
@media only screen and (min-width: 800px) {
    .header h1.brand {display: none;}
    .header h1.line {display: block;}
    .header h1.line {font-size: 1.2rem;}
    .header a.icon {display: none;}
    .navbar li a {display: block;}
    .navbar li span {display: none;}
}
/*Responsiveness: laptop*/
@media only screen and (min-width: 800px) {
    .col-2 {width: 50%;}
    .col-5 {width: 20%;}
    .col-3 {width: 33.33%;}
    .col-6 {width: 60%;}
    .col-7 {text-align: left;}
    .col-4 {text-align: left; background-color: #00bd98; border-radius: 5px;}
}
/*Responsiveness: large screens*/
@media only screen and (min-width: 1150px) {
    .navbar li span {display: block; text-align: right;}
    .col-7 {width: 55%; text-align: left;}
    .col-4 {width: 45%; text-align: center; background-color: #00bd98; border-radius: 5px;}
}

/*Basic CSS*/
html {
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
p {
	margin-bottom: 1rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 100;
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
}
h3 {
 font-size: 1rem;
 font-weight: 50;
 margin-bottom: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #414850;
}
li span {
  float: right;
  display: block;
  text-align: left;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 100;
}
li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
}
li a:hover {
    background-color: grey;
    color: white;
}
.header {
  padding: 2%;
  color: #414850;
}
.header h1 {
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 100;
  font-style: italic;
  float: left;
}
.btn-default {
  border-radius: 20px;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
	color: #414850;
	font-size: 0.8rem;
}
.btn-inverse {
  border-radius: 20px;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #00bd98;
  color: white;
	font-size: 0.8rem;
}
.navbar {
  background-color: #414850;
  color: white;
  padding: 2%;
  overflow: auto;
  text-align: center;
}
.tagline {
  background-color: #414850;
  color: #414850;
  padding: 5% 10% 5% 5%;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  background-image: url("images/majakka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  text-align: center;
  background-color: #00bd98;
  color: white;
  padding: 3%;
	line-height: 1.5rem;
}
.services {
  text-align: center;
  color: #00bd98;
  padding: 3%;
	line-height: 1.5rem;
}
.otsikko {
  background-color: #00bd98;
  padding: 5%;
  color: white;
  text-align: center;
}
.teksti {
  background-color: white;
  text-align: center;
}
/*Contact form*/
  /*.contact {
  text-align: center;
  background-color: #414850;
  color: white;
  padding: 2%;
  width: 100%;
  margin: auto;
  display: block;
}*/

/*Alternative contact info*/
.contact {
  text-align: left;
  background-color: #414850;
  color: white;
  padding: 2% 5% 2% 5%;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 100;
}
input, textarea {
  display: block;
  margin: 1% 0% 1% 0%;
  width: 100%;
  padding: 1%;
  border-radius: 5px;
  border-style: none;
}
.contactbox {
  text-align: left;
  background-color: #00bd98;
  padding: 4%;
  border-radius: 5px;
  width: 25rem;
  max-width: 100%;
}
.footer {
  text-align: center;
  padding: 2%;
  color: #414850;
}
.footer p {
  line-height: 0.8rem;
  padding: 2%;
}
.alasivu {
  background-color: #414850;
  color: white;
  padding: 2% 10% 2% 10%;
}
.alasivu h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 50;
}
.alasivu h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
}
.alasivu h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 50;
  text-decoration: underline;
}
.alasivu p {
  line-height: 1.5rem;
  text-align: justify;
}
